@page
@model CaesEntraLogin.Pages.WelcomeModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.UserName!</h1>
    <p class="lead">You have successfully signed in with Microsoft Entra authentication.</p>
    
    <div class="card mt-4 mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <h5 class="card-title">User Information</h5>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">Name:</th>
                        <td>@Model.UserName</td>
                    </tr>
                    <tr>
                        <th scope="row">Email:</th>
                        <td>@Model.UserEmail</td>
                    </tr>
                    <tr>
                        <th scope="row">User ID:</th>
                        <td>@Model.UserId</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="mt-4">
        <a class="btn btn-secondary" asp-page="/Index">Return to Home</a>
        <a class="btn btn-outline-danger" href="/Logout">Sign Out</a>
    </div>
</div>